[2016-10-28 14:51] kingdido999 opened #1 "Safari flickrs when zooming"
This is happening when `image-zoom-overlay` class is applied when zooming in:

[code]

[2016-10-28 14:52] kingdido999 opened #2 "Trigger scroll event when it already reaches the bottom of the page, so that the image can be closed"

[2016-10-29 04:55] #1 closed

[2016-11-04 01:47] kingdido999 commented on #2
Not worth to implement this feature (might need wheel event instead of scroll event).

[2016-11-04 01:47] #2 closed

[2016-12-07 11:12] daxhns opened #4 "Disable grab and additional zoom?"
Hi,

Is there an easy way to disable 'extra zoom-in and drag' on the aready zoomed in image?

Keep up the good work!

[2016-12-07 14:07] kingdido999 commented on #4
Thanks for the suggestion, I thought about this also. It could be another option so you can disable the grab and drag effect. Will add it shortly.

[2016-12-07 19:32] #4 closed

[2016-12-08 21:38] daxhns opened #5 "Mobile/touchscreen support"
Hi,

Do you plan to add mobile/touch screen support?

BTW, zoom.js works pretty well on touch screens.

[2016-12-08 22:17] kingdido999 commented on #5
It does support touch devices. I've tested it on Nexus 6P chrome and iPhone 6 safari, which of course is very limited testing. If it's not working your particular device, please let me know the device and browser details.

[2016-12-08 22:53] daxhns commented on #5
Zooming on demo page http://desmonding.me/zooming/ does not work on my iphone 5s and on ipad 2. Tested on safari and chrome on both devices.

[2016-12-09 00:04] kingdido999 commented on #5
Please provide your browser version.

[2016-12-09 03:33] kingdido999 commented on #5
Now css transform uses `translate` instead of `translate3d`, does it help at all?

[2016-12-10 17:58] daxhns commented on #5
No, this did not help. In fact, I was using few weeks old version which used translate and not translate3d.

I was not aware that you update the code so frequently, every other day practically.

I played a bit with your latest release (yesterday) and here are two changes I made that resulted in zooming workin on my iphone 5s and ipad 2.

**1) in api.listen method:**
if (typeof el === 'string') {

[2016-12-10 18:18] kingdido999 commented on #5
@daxhns I appreciate your feedback!
- 1. This has already been fixed.
- 2. Yes you are right. `target.style.transform = ''` was obviously a mistake, I just changed it to `setStyle(target, { transform: '' })` which will invoke `checkTrans` to apply the correct transform style property.

Let me know if the demo works for you or not.

[2016-12-10 18:21] papakay commented on #5
@kingdido999 I want to sincerely appreciate the great work you have been doing with this library. Your commitment and dedication to the update and fixing of bugs are highly commendable. And i want to express my attitude of gratitude. May the Lord continue to grant you strength and wisdom beyond human understanding in Jesus name, Amen. I appreciate you.

[2016-12-10 18:26] daxhns commented on #5
Great. Did you update the demo on http://desmonding.me/zooming/ ?

I tried it, on iphone 5s zoom in now works, but zoom out does not :( it just freezes,

[2016-12-10 18:30] kingdido999 commented on #5
@daxhns It might be browser caching issue. Possible solutions:

- Try opening up a new window in incognito mode
- Clear browser cache.
- Wait for some more time...

If it still does not work, let me know:)

[2016-12-10 18:49] daxhns commented on #5
Tried incognito window on both devices on safari and chrome with the same result.. zoom in works, zoom out does not work :(

[2016-12-10 18:58] kingdido999 commented on #5
Ahh…okay will look into this later today.

On Sat, Dec 10, 2016, 10:49 daxhns <notifications@github.com> wrote:

--
Best,
Desmond

[2016-12-10 20:40] daxhns opened #6 "Error when closing zoom by clicking outside of image"
When you zoom in, and then zoom out by clicking OUTSIDE of zoomed in image, there is an error in the console:

`Uncaught TypeError: cb is not a function(…)`

Tried on Chrome and Firefox on Windows.

[2016-12-11 04:34] kingdido999 commented on #6
It should be fixed. Please verify.

[2016-12-11 05:42] kingdido999 commented on #5
@daxhns Are grab and release working properly on your devices? Please lists everything that does not work. I do not own any iOS touch devices, so it's a bit hard for me to troubleshoot. Need as many inputs as possible :)

[2016-12-11 11:53] daxhns commented on #6
Yes, fixed, works without error now. good job.

[2016-12-11 12:02] daxhns commented on #5
No, grab does not work on my ios devices (iphone 5s and ipad 2). in fact image freezes and can not be closed after drag is attempted, so i guess there is an error causing this..

[2016-12-11 12:23] daxhns commented on #6
BTW, I see that you have removed build/zooming.js file from the respository... was this on purpose or a mistake? If it was on purpose, how should we create that file from src?

[2016-12-11 14:36] kingdido999 commented on #6
Yes I removed it because given the source map, we can inspect the actual source code in browser dev tool, so I removed the unminified version. But after thought on this, I'll bring it back as the original transpiled code is not available for people anymore. Closing this now.

[2016-12-11 14:36] #6 closed

[2016-12-11 15:51] kingdido999 commented on #5
@daxhns Set transform value to 'none' instead of '' and removed `grab` check in the `close` method. Please see if anything changes at all...

[2016-12-11 16:49] daxhns commented on #5
Hey, that worked! Zoom out works now on my ios devices! Good job!

I think changing transform from '' to 'none' did the job.

[2016-12-11 16:56] kingdido999 commented on #5
@daxhns haha finally! `none` is the initial value for `transform`. [MDN](https://developer.mozilla.org/en-US/docs/Web/CSS/transform). Anyway, thanks for supporting and debugging with me!

Close it now.

[2016-12-11 16:56] #5 closed

[2016-12-11 20:08] kingdido999 opened #7 "Image blinks when changing src in Firefox"
Image blinks when changing src (for the first time) in OSX Firefox 50.0.2 and Android Firefox 50.0.2. The images do get preloaded though.

[2016-12-11 23:35] kingdido999 commented on #7
Very likely it's an existing bug: [Images are flashing when updates by img.src[]=url in Firefox >= 8.0](https://bugzilla.mozilla.org/show_bug.cgi?id=705826).

[2016-12-12 13:00] daxhns commented on #7
Yes, it's a bug in Firefox... shame that they did not fix it already.

I have managed to find a workaround, basically adding another, temporary, invisible image to the DOM, forcing internal Firefox calculations and image pixel rendering, just before swapping with the real image, to prevent flicker.

Something like this:

[code]

It uses jQuery, but maybe you can re-write it in pure javascript.

He

[2016-12-12 15:51] kingdido999 commented on #7
This kind of workaround by detecting user agent is not recommended and unreliable. `navigator.userAgent` has been [deprecated](https://developer.mozilla.org/en-US/docs/Web/API/NavigatorID/userAgent) and we should avoid using that.

[2016-12-12 16:43] daxhns commented on #7
I agree, but we can't do feature detection here since this is not a feature but a bug in Firefox, so this is the only way. Hopefully, `navigator.userAgent` will be supported long enough until this bug is fixed in Firefox.

[2016-12-18 20:11] #7 closed

[2016-12-23 02:44] liximomo opened #8 "press esc when grabbing, the zoom immediately restore without transition and the zoom cannot work anymore"
action to recurrence
1. open [demo](http://desmonding.me/zooming/) page
1. zoom in any  image
1. grap and keep
1. press esc

[2016-12-23 03:15] liximomo opened #9 "open context menu on zoomed in image trigger unexpected grap action"

[2016-12-23 03:50] kingdido999 commented on #8
@liximomo I can reproduce this issue. Working on it.

[2016-12-23 04:26] kingdido999 commented on #8
Fixed. Now the image will go back to its previous state before closing out. Notice that if you do not release your mouse before the image is fully closed, it will reopen the image once you released your mouse. Might fix this in the future, although it's not a showstopper:)

[2016-12-23 04:26] #8 closed

[2016-12-23 04:37] kingdido999 commented on #9
Fixed.

[2016-12-23 04:37] #9 closed

[2016-12-23 07:00] simevidas opened #10 "Horizontal scrollbar on Windows"
I’ve tested the demo in my browsers on Windows 10, and when zooming in on an image, the horizontal scrollbar appears. I *think* this is because on Windows scrollbars take up space, and on Mac they don’t (they’re overlaid), so your calculation is incorrect on Windows. Just a guess!

![scrollbar](https://cloud.githubusercontent.com/assets/716405/21448705/d69d8204-c8e5-11e6-932e-288eaaca7892.png)

[2016-12-23 16:38] kingdido999 commented on #10
@simevidas From the screenshot I can tell it's over zoomed in on your machine, that's why the horizontal bar appears. I'll take a look.

[2016-12-23 17:03] kingdido999 commented on #10
@simevidas I excluded the space of scrollbar while calculating the window center, please check if it fixes the issue.

[2016-12-23 17:23] simevidas commented on #10
The horizontal scrollbar is gone! Thanks for fixing.

[2016-12-23 17:23] #10 closed

[2016-12-27 00:34] KJLJon opened #12 "Mobile 2 finger zoom issue"
Hello,

When I use two fingers (like you normally would to zoom) it zooms in really close.

I would expect it to let you zoom closer and further away since it seems to zoom in when you hold your finger over the image :)

I am using chrome 55 on my Nexus 5x

[2016-12-27 07:48] kingdido999 commented on #12
Fixed.

[2016-12-27 07:48] #12 closed

[2016-12-29 14:23] antongorodezkiy opened #15 "Uncaught TypeError: this.setStyle is not a function"
Hello @kingdido999

When I'm trying to use the lib in the following way:

[code]

It throws an exception:

[code]

But the following code without configuration object works fine:
[code]

`zooming.config()` doesn't throw an exception, but seems it has no effect at all:
[code]

I use version
[code]

I'd appreciate any help.

[2016-12-29 15:57] kingdido999 commented on #15
@antongorodezkiy Fixed. Please verify.

[2016-12-29 16:04] kingdido999 opened #16 "Improve testing"
The current test focuses purely on API and is certainly not enough. This library is essentially about UI interaction and heavily relies on DOM events, but I find it hard to actually test out the interaction like a real user would do. I'm pretty new to this kind of testing, any idea/suggestion on the testing strategy is appreciated.

[2016-12-29 17:14] kingdido999 opened #17 "Add an option to preserve image original width and height after zoomed in"
This boolean option will zoom in the image no more than its actual width and height (use data-original image if supplied).

[2016-12-29 18:11] kingdido999 commented on #16
Should probably integrate [Sinon](https://github.com/sinonjs/sinon).

[2016-12-30 06:34] #15 closed

[2016-12-30 22:08] kingdido999 commented on #17
I added `customSize` that scales the image to arbitrary width and height instead of the option to keep image native width and height after zoomed in. The latter is not gonna happen because: if a hi-res image is provided, then it must be fully loaded for us to get its native width and height, which is blocking the image transformation.

Example usage of `customSize`:

[code]

[2016-12-30 22:08] #17 closed

[2017-01-02 06:38] kingdido999 opened #18 "Click outside of opened image (overlay) does not close the image if enableGrab is disabled."

[2017-01-02 19:22] #18 closed

[2017-01-04 06:01] spostad7 opened #19 "adding gallery"
tanx for your perfect plugin.
any plan for creating gallery on multiple images on this way?
it is wonderful to have such this option

[2017-01-04 18:20] kingdido999 commented on #19
This library only intends to do image zoom, so the answer is no. Image gallery is a very opinionated thing, you can integrate this library to the one you wrote or any existing one.

[2017-01-04 18:20] #19 closed

[2017-01-06 15:04] dlewand691 opened #20 "[FEATURE REQUESET] Captions and controls"
Would be great to have the ability to add captions as well as controls for fullscreen and previous/next if used in a gallery.

[2017-01-06 17:36] kingdido999 commented on #20
Sorry, this library intends to do image zoom only.

[2017-01-06 17:36] #20 closed

[2017-01-06 19:41] chokolade opened #21 "Zoom out on clicking on a zoomed in image"
Didn't the earlier version of the plugin allow to zoom out(close) on clicking a zoomed in image.That doesn't seem to work now.

[2017-01-06 20:18] kingdido999 commented on #21
It's working for me. Please provide module version, browser version and OS that does not work for you.

[2017-01-06 20:23] chokolade commented on #21
Yes right now only clicking outside the image is closing the image for me not clicking the zoomed image in itself.
What do you mean by module version
Browser : Chrome; OS: Windows 8

[2017-01-06 20:43] kingdido999 commented on #21
You mean the [demo](http://desmonding.me/zooming/) page is not working for you right? Can you try different browsers, like Firefox and IE (10+), to see if they work or not?

[2017-01-06 20:46] chokolade commented on #21
yes the demo page is not working. I tried in firefox, Chrome the image closes on clicking outside the image but not clicking inside the zoomed in image

[2017-01-06 21:26] kingdido999 commented on #21
I do not have the device to reproduce this issue. It would be great if you can pull the latest code and see if it works on your local.

[2017-01-07 23:18] #16 closed

[2017-01-09 17:40] chokolade commented on #21
Closing the issue since it is working now.

[2017-01-09 17:40] #21 closed

[2017-01-11 19:55] kingdido999 opened #22 "Image is not visible if its parent is styled as `overflow: hidden`"
If the parent of the image is styled as `overflow: hidden`, the image will not be visible. Needs to find a way to ignore `overflow: hidden`.

[2017-01-15 14:32] kobeaerts opened #24 "Wrong vertical center"
Hey, I have an issue with the latest version (1.0.9), the images don't appear in the middle of the screen because the windowCenter function returns a "wrong" value, if I change the code to the one below it does take the correct windowCenter:

[code]

[2017-01-15 14:59] kingdido999 commented on #24
It would be great if you can show me a specific example with correct height vs "wrong" height and why did you think it's a "wrong" value. Please also provide OS and browsers having this issue.

[2017-01-15 15:04] kobeaerts commented on #24
Hmm, don't have anything online atm. But I'm developing in the latest version of Chrome on my MacBook.

I think this function should give you the center of your screen/window but atm it gives you the center of your entire document.

If for example I style my body to be 4000px, this center function will give 2000px as vertical center which is not the center of my window (lets say my window is 960px

[2017-01-15 16:06] kingdido999 commented on #24
@kobeaerts Please verify the fix in [demo](http://desmonding.me/zooming/) works for you. I'm suspecting your browser somehow skipped `document.documentElement.clientHeight` and went for the value of `document.body.clientHeight`.

[2017-01-15 16:08] kobeaerts commented on #24
It works!

[2017-01-15 16:21] kingdido999 commented on #24
The current implementation is below:

[code]

Notice it's not perfect though, in modern browsers, it will give you the window center that either excludes scroll bar width and height, which are the desired values, or includes scroll bar width and height (`window.innerWidth` and `window.innerHeight`).

References:
- [Element.clientHeight](https://developer.mozilla.org/en-US/docs/Web/API/Element/clie

[2017-01-15 16:21] #24 closed

[2017-01-17 12:05] kobeaerts opened #25 "Webpack 2: import"
I get an error in Webpack 2 when I try to do `import Zooming from 'zooming';`

[code]

But when I change main.js to include a semicolon at the export default like this `export default Zooming;` it works.

Can we fix it in this project or should I go to the Webpack repo?

[2017-01-17 12:09] kobeaerts commented on #25
Also see this issues: http://stackoverflow.com/questions/34111664/semicolon-after-default-export

Still not sure if this lib should fix or Webpack/Babel

[2017-01-18 05:02] kingdido999 commented on #25
@kobeaerts As you suggested, this is more of a Babel [issue](https://github.com/babel/babel/issues/4481), which has been claimed to be fixed. My advice is trying out the latest version of Babel to see if it helps or not.

[2017-01-18 05:02] #25 closed

[2017-01-18 14:55] rdbok commented on #25
Target the build file
`import 'zooming/build/zooming';`
or if you need it
`import Zoom from 'zooming/build/zooming';`

[2017-01-19 21:05] antongorodezkiy commented on #15
@kingdido999  Fixed, thanks

[2017-01-20 15:42] ads1018 opened #26 "Is it possible to disable on mobile?"

[2017-01-20 16:10] kingdido999 commented on #26
It will not provide such functionality. There are some libs that detect mobile devices, you should really use one of them or implement it by yourself to best suit your needs.

[2017-01-20 16:10] #26 closed

[2017-02-13 18:51] luismiguelbravo opened #27 "Angularjs 2 Webpack and jade/pug, this is not working"
For feature request or questions, ignore everything below.

For any issue related to [demo](http://desmonding.me/zooming/) page, please include the following details:

- OS:  Linux
- Steps to reproduce:
npm install zooming --save

add reference in archive app.module.ts
import { Zooming } from 'zooming';

add data-action to an image in .pug file
img.img-responsive([src]="imageZoomText.imagePath", d

[2017-02-13 21:08] kingdido999 commented on #27
@luismiguelbravo Try `import Zooming from 'zooming'`.

[2017-02-15 16:08] pkers87 opened #28 "ie11 compatibility"
hi,
i was testing this library on same browsers: chrome 56, firefox 51, edge and ie11.
everything works fine except in ie, showing this kind of error in console:

i think this line break the script
`this.options = Object.assign({}, OPTIONS);`

thanks for your work!

[2017-02-15 18:05] kingdido999 commented on #28
@pkers87 Thanks for the feedback! Please check if the issue was resolved in IE.

[2017-02-16 02:39] #27 closed

[2017-02-16 13:06] pkers87 commented on #28
it works! thanks!

[2017-02-16 13:06] #28 closed

[2017-03-01 12:41] janlemmens opened #29 "Support question: is lazy loading possible for data-original?"
At this moment, the image referenced in the data-original attribute is loaded on page load. Is it possible to lazy load that image when activating zoom? Any plans to add this functionality in the future?

Kind regards,
Jan

[2017-03-01 17:59] kingdido999 commented on #29
@janlemmens The option `preloadImage` is enabled by default. You can set it to `false` so that it loads `data-original` only after it starts zooming in:

[code]

[2017-03-01 18:19] janlemmens commented on #29
Great! Thanks for the quick feedback. Must have missed that setting. Nice work on the library btw!

[2017-03-01 21:49] #29 closed

[2017-04-04 08:52] timrombergjakobsson opened #31 "Zoom on hover"
Hi, is there any possibility to zoom in on high res image on hover? I've only found on click. Thanks!

[2017-04-04 14:13] kingdido999 commented on #31
No, I think zoom on hover would cause poor user experience and inconsistent behavior between desktop and touch device.

[2017-04-04 16:59] kingdido999 commented on #31
@timrombergjakobsson However, you can achieve this by simply adding an event listener to your images, then use [API](http://desmonding.me/zooming/docs/index.html) to open up the image. Something like this (not tested):

[code]

[2017-04-04 16:59] #31 closed

[2017-04-05 06:51] timrombergjakobsson commented on #31
Ok, thanks!

[2017-04-05 07:46] timrombergjakobsson commented on #31
Hm weird, I tried your example I only get ```Uncaught TypeError: zooming.listen is not a function```? I tried console loging the instance of Zooming and its there but the function listen does not seem to exist?

[2017-04-05 17:25] kingdido999 commented on #31
@timrombergjakobsson Here is a working [example](https://jsfiddle.net/kingdido999/gj6xp1dn/1/). I updated the previous [comment](https://github.com/kingdido999/zooming/issues/31#issuecomment-291564775) as well.

[2017-04-06 14:49] timrombergjakobsson commented on #31
@kingdido999 Thanks a lot!

[2017-05-08 21:30] artaommahe opened #32 "(feature) Open zoomed image in new tab on click"
Ability to open zoomed image in new tab on `Ctrl + click` or `cmd + click` (for macs)

[2017-05-08 22:39] artaommahe opened #33 "(bug) Wrong opened image scaling if initial and original images has different aspect ratio"
I see an issue in page:
https://codepen.io/anon/pen/jmYLqb?editors=1010

- OS:  Ubuntu 16.04 (64-bit)
- Browser and version: Chromium Version 58.0.3029.81

Steps to reproduce:

1. open codepen example
2. click on image
3. :peka:
![selection_531](https://cloud.githubusercontent.com/assets/1944061/25828296/21351506-3458-11e7-86de-cd196e616c5c.png)

Use-case: preview image with different aspect ratio

[2017-05-08 22:51] artaommahe commented on #22
@kingdido999 this solution does not work if `overflow: hidden` is required for upper scrollbar.
I have a chat with images in messages that can be zoomed on click. There is custom scrollbar (perfect-scrollbar lib) on messages list and when image zoomed by `zooming` everything goes wrong due to wrong image positioning inside list with `overflow: visible`.
Currently i ugly-hacked it via creating new

[2017-05-08 22:52] kingdido999 commented on #32
Now `ctrl/meta + click` on the image (whether zoomed or not) will open up the original image (or regular image if original is not supplied) in a new tab.

[2017-05-08 23:01] artaommahe opened #34 "Wrong zoomed image position from fixed container"
I see an issue in page:
https://codepen.io/anon/pen/eWyEGR?editors=1010

OS: Ubuntu 16.04 (64-bit)
Browser and version: Chromium Version 58.0.3029.81

Steps to reproduce:

1. open codepen example
2. scroll one screen down
3. zoom image
4. see that it has wrong position

Use-case: fixed chat container with images in messages that can be zoomed when page is scrolled down.
Mb fixed position for zoome

[2017-05-08 23:15] kingdido999 commented on #33
Hmm...the only practical use-case I can think of is having a thumbnail (like square-shaped) zooming into its original form which has a different aspect ratio. Don't have an answer right now, but I will definitely think about it.

Another issue to keep in mind is that if we choose to show different aspect ratios, then the zoom animation might become a bit ugly once the img src suddenly changed. In

[2017-05-08 23:41] #32 closed

[2017-05-08 23:49] artaommahe commented on #33
@kingdido999 while adding lib to my app and testing different cases i found funny partial uglyhack for this
https://codepen.io/anon/pen/jmYLXy?editors=1010

[2017-05-09 00:04] kingdido999 commented on #34
I probably will end up adding a fixed wrapper to image, which I believe will address this issue and #22 as well...Having `position: relative` on image is giving me so much headache :(

[2017-05-11 03:36] kingdido999 commented on #33
@artaommahe I don't really like the idea of having different aspect ratio images in the first place. The original source was intended to be the exact same image as the default source, except having a "higher resolution". So this is our prerequisite here. You can always modify the width and height of zoomed in image via callback if you really want to.

[2017-05-11 03:36] #33 closed

[2017-05-14 19:18] kingdido999 commented on #34
Update: a fixed position wrapper with absolute image position and an image placeholder (since the actual image no longer takes space) does resolve these issues (`position: fixed and overflow: hidden` parents). Everything works fine except that while the image is getting closed on scrolling, the translation does not go to the precise position that takes scroll offset into account (though eventually

[2017-05-23 09:59] HeliosDev opened #35 "Zooming doesn't work when div content set dynamically"
Hello, I have an issue with your otherwise excellent library.

If I set all the attributes for zooming in the HTML, no problem, but if I try something like this:

[code]

`(html: <div id="infoPanel"></div>)`

zoom doesn't work anymore.

Am I doing anything wrong or is it supposed to be like this?

Thank you.

[2017-05-23 10:01] HeliosDev commented on #35
Sorry...

[code]

[2017-05-23 10:16] HeliosDev commented on #35
Never mind, I set the zooming by code and now everything works ok.

Cheers.

[2017-05-23 14:00] kingdido999 commented on #35
Yes, you need to manually listen to those elements created/modified after DOM content has been loaded.

[2017-05-23 14:00] #35 closed

[2017-05-28 01:47] kingdido999 commented on #22
@artaommahe The latest build removes parent `overflow: hidden` checking and replacement all together, does it resolve your issue?

[2017-05-28 10:51] artaommahe commented on #22
@kingdido999 it solves issue with wrong overflow on container with scrollbar but does not solve image cutting due to `overflow: hidden` on same container :) so i still use uglyhack with image copy with fixed position placed to body and call zoom on this copy.

[2017-05-28 12:05] kingdido999 commented on #22
@artaommahe yeah it does not work with `overflow: hidden` container for now. I removed the original fix as it's really not the right solution.

[2017-05-28 20:12] cynddl opened #36 "Handle horizontal scrolling to exit the overlay"
The current behavior is to exit the zoomed overlay when the user scrolls more than ```scrollThreshold```. However, the library only supports vertical scrolling, and horizontal webpages just become blank as the user scrolls and scrolls.

A solution would be to implement ```lastScrollPositionX``` and ```lastScrollPositionY``` instead of just ```lastScrollPosition```, and check for both ```deltaX```

[2017-05-28 21:14] kingdido999 commented on #36
@cynddl Do you mind creating an example to show what does it look like on horizontal webpages on [codepen](https://codepen.io/kingdido999/pen/zwQWpm) (I have included the library)?

[2017-06-05 13:55] armbull opened #37 "How to dinamically initialaze new photoes"
Hello
How to dinamically initialaze new photoes?
I add new photo with markup of `data-action='zoom'` then I add code:
[code]
After that it doesn't work properly
I can not find re-init or rebuild function in your documentation
How to do that?
Thanks

[2017-06-05 14:11] kingdido999 commented on #37
You need to listen to images after you created them dynamically:

[code]

[2017-06-05 14:14] kingdido999 commented on #37
Though your code should also work as long as it's called after new images were created.

[2017-06-05 23:53] armbull commented on #37
Thanks. It works.

[2017-06-06 00:02] armbull opened #38 "How to detect target element when it zoomed via function onBeforeOpen/onBeforeClose"
Hello,
I've read your documentation and I can not get automatically selector ID of target photo when it zoomed. I want to manipulate with it by onBeforeOpen/onBeforeClose function.
How to get target photo ID via function or something else?
Thanks

[2017-06-06 10:38] armbull commented on #38
I found a solution
`var zooming = new Zooming({
          //...
	  onBeforeOpen: function(target){
		console.log(target);
	  },
        //...
});`

[2017-06-06 13:35] #37 closed

[2017-06-06 13:36] kingdido999 commented on #38
Yes, you will have the `target` as callback argument.

[2017-06-06 13:36] #38 closed

[2017-06-06 16:24] armbull commented on #31
About example
When photo was zoomed via hover event if you begin to grab and your mouse is outside of image, photo is zooming out and it doesn't work anymore. It works only after reload.

[2017-06-06 17:32] armbull opened #39 "[Crash] Bug with effect of zoom on hover while grabbed is outside of photo"
About your [example](https://jsfiddle.net/kingdido999/gj6xp1dn/1/) of zooming while hovering
It is this [issue](https://github.com/kingdido999/zooming/issues/31)
When photo was zoomed via hover event if you begin to grab and your mouse is outside of image, photo is zooming out and it doesn't work anymore. It works only after reload a page.
How to fix it?
I think it need add if statement to
[code]

[2017-06-06 18:24] kingdido999 commented on #39
I have updated the [example](https://jsfiddle.net/kingdido999/gj6xp1dn/3/) to fix this issue. We basically need to check that the mouse is not pressing down when the mouse is leaving the image:

[code]

[2017-06-06 18:24] #39 closed

[2017-06-06 18:29] kingdido999 commented on #39
@armbull I also figured [this](https://help.github.com/categories/writing-on-github/) might be helpful to you on writing/referencing issue or documentation on GitHub.

[2017-06-12 00:47] kingdido999 commented on #36
Close it for now, will reopen if further discussion is needed.

[2017-06-12 09:23] cynddl commented on #36
@kingdido999, sorry for the delay. Please find below a example of an horizontal scrolling gallery:
https://codepen.io/Cynddl/pen/xrVmzV

As you can see, scrolling vertically does not stop the overlay effect, and scrolling horizontally completely mess up with the layout.

[2017-06-12 14:19] kingdido999 commented on #36
@cynddl Thanks for the demo. I've made the fix and verified from my side. It would be great if you can test it out against the latest master.

[2017-06-12 14:39] cynddl commented on #36
Yes, it works perfectly. Thanks for the quick answer!

[2017-06-12 14:39] #36 closed

[2017-06-21 11:34] artaommahe opened #40 "Click on overlay does not close image after 1.1.6 with `enableGrab: false`"
- OS: Ubuntu 16.04
- Browser and version: Chromium Version 58.0.3029.110 Built on Ubuntu , running on Ubuntu 16.04 (64-bit)

Steps to reproduce:
1. open https://codepen.io/anon/pen/owWmrg?editors=1010
2. click on image
3. click on white overlay around image - nothing happens
4. set `enableGrab: true`
5. click on image
6. click on white overlay around image - image properly zoomed out

As i debugge

[2017-06-21 18:41] kingdido999 commented on #40
@artaommahe you are right, the callback function for overlay click event has wrong `this` reference. I changed the code back to explicit method call:

[code]

Alternatively, bind the correct context will also work:

[code]

[2017-06-21 18:52] kingdido999 commented on #40
@artaommahe Interestingly, since the code had wrong `this` context, how could it even work for `enableGrab: true`? I just realized that there are additional event listeners attached to `document` when grab is enabled, which means click on `document` will also trigger close event :)

[code]

[2017-06-21 20:06] #40 closed

[2017-07-11 18:34] jimblue opened #41 "responsive image"
I see an issue in [demo](http://desmonding.me/zooming/) page:

- OSX version 10.12.5
- Chrome version 61.0.3141.7

Steps to reproduce:

1. go to the  [demo page](http://desmonding.me/zooming/)
2. click on an image to open zooming
3. try to resize the windows

I'm not sure it's a bug or a missing feature but here image are not responsive.

If it's not a bug it could be nice to add this option into

[2017-07-11 18:43] kingdido999 commented on #41
@jimblue I'm glad you liked it! I would say it's a minor bug, maybe we should make it responsive as we resize the window.

[2017-07-11 21:56] jimblue commented on #41
Yes it could be nice.
Just leaving here the function I use to execute a script au resize.

[code]

Then I simply use like this: `onResize(functionToExecuteOnResize)`

[2017-07-12 03:02] kingdido999 commented on #41
@jimblue I applied max width and height for opened image style instead of fixed size. It's not a full solution as the image goes out of the window a bit due to scaling, but at least it makes the image responsive and keeps the image aspect ratio.

I would prefer not to involve `onresize` event handler for this issue, mainly because it adds a lot of code (throttle function and recalculate CSS transf

[2017-07-24 22:49] jimblue commented on #41
@kingdido999 I understand your logic to keep your plugin optimise and small, but is this that heavy to only add `onresize`? I could be use also for mobile when switching from landscape to portrait.
Maybe an other solution could be css viewport scale in css and not percentage?

[2017-07-29 04:00] kingdido999 commented on #41
@jimblue It would require a lot more effort than just `onresize` function to make image responsive to window resize. I tried css viewport but it didn't work out. Unfortunately I decide not to implement this feature, but I'm open to any potential solutions or PRs.

[2017-07-29 21:47] jimblue commented on #41
Hi @kingdido999 ! Sorry to heard you're not going to implement this feature. 😭 😭 😭
In my mind adding `onresize` to make image responsive would take less than 30 lines, I tough it was just matter of refreshing the math you're using to position the image on zooming...
Also I'm afraid that I can't help more, I'm absolutely not a developer.
So I hope you'll reconsider the benefit of this feature soon

[2017-07-29 22:43] kingdido999 commented on #41
@jimblue Hey I totally understand you...I will definitely come back to this issue later, just don't have enough bandwidth at this moment😅  (you know, writing software fatigues people XD)

I'm also kinda curious why/how do you use this library, something related to your work?

[2017-08-05 15:54] jimblue commented on #41
@kingdido999 nice to hear you'll come back on this later 😄.
I was thinking last night to some kind of fix. Why not just kill zoomed image on resize?

(I'm changing the design of my website, will go from lightgallery.js to your library for my photos)

[2017-08-06 15:53] kingdido999 commented on #41
@jimblue Actually your idea makes a lot of sense to me the more I think about it! Now zoomed image will be closed on window resize (and device orientation change) by default, user can opt-out by setting the new option `closeOnWindowResize: false`. Please try it out on [demo](http://desmonding.me/zooming/) page!

[2017-08-07 17:05] jimblue commented on #41
@kingdido999 good job! That's look natural and resolve the issue 👍 !
Thank you so much man

[2017-08-08 03:55] kingdido999 commented on #41
@jimblue The change has been made into version 1.2.4 😄

[2017-08-08 03:55] #41 closed

[2017-08-08 16:31] jimblue commented on #41
@kingdido999, I've just upgrade to 1.2.4 but it doesn't like on the demo page.

[2017-08-08 16:54] jimblue commented on #41
working great thanks!

[2017-09-13 16:40] arnaudjuracek opened #42 "Display bug whith css columns in Chrome"
When the image is inside a CSS column layout, the zoomed image stay in the column layout, and the bottom wrap on the next col when the zoomed image is grabbed (which is both weird and awesome).

- OS: OSX
- Browser and version: Chrome 60

### The grid
[code]
![image](https://user-images.githubusercontent.com/2837959/30388778-09ff650e-98b1-11e7-95e1-137db6e0f428.png)

### The bug
##### last image o

[2017-09-13 16:50] arnaudjuracek commented on #42
![image](https://user-images.githubusercontent.com/2837959/30389830-4b5b8052-98b4-11e7-9161-05495fd8e985.png)
The image wrapped in two cols ( ͡° ͜ʖ ͡°)

[2017-09-14 04:49] kingdido999 commented on #42
Hey @arnaudjuracek, thanks for the report! I will take a look this weekend.

[2017-09-16 16:31] kingdido999 commented on #42
@arnaudjuracek Would you mind creating a simple demo (on jsfiddle, codepen or anything like that) to reproduce this bug? You can add [zooming](https://cdnjs.cloudflare.com/ajax/libs/zooming/1.2.4/zooming.js) as an external resource.

[2017-09-18 09:05] arnaudjuracek commented on #42
Here you go : [codepen.io/PJProM](https://codepen.io/anon/pen/PJProM)

[2017-09-22 09:21] nervewax opened #43 "High res image appears too large"
[DEMO](https://codepen.io/Nervewax/full/rGMjjx/)

- OSX
- Chrome Version 60.0.3112.113, Firefox 55.0.3

[2017-09-23 17:03] kingdido999 commented on #43
@nervewax It should be fixed now...You can verify through the latest code on your local or wait for v1.2.5 to be available on cdnjs.

[2017-09-26 04:42] #43 closed

[2017-10-11 16:35] jimblue commented on #22
@kingdido999 I'm surprised that with more selective `overflow-x: hidden` the zoomed image is crop on `y` axis... Do you have an idea why?

[2017-10-12 06:28] jimblue commented on #22
@kingdido999 a simple fix could be to add two event to `zoomin.js`:

`init` event
`destroy` event

It will offer people needing overflow a way to toggle a class on the container.

What do you think?

[2017-10-13 02:47] kingdido999 commented on #22
@jimblue can you elaborate more? Would existing event listeners like `onBeforeOpen` and `onClose` be useful in this case?

[2017-10-13 05:51] jimblue commented on #22
@kingdido999 didn't knew those events exists, it's not in the doc.

This is my idea:
[code]

[code]

[2017-10-27 08:52] NewJenk commented on #42
Hi @kingdido999,

Have you had a chance to take a look at this issue?

Thanks

[2017-10-28 03:09] kingdido999 commented on #42
@NewJenk @arnaudjuracek I haven't done too much investigation, but looks like this issue happens on chrome only.

[2017-10-28 17:01] kingdido999 commented on #42
I don't really have a clue why it's happening in Chrome. I guess making an image wrapper with absolute position could fix this issue and other issues as well like #22 #34. But it would require quite some time for me to do the rewrite.

[2017-10-28 17:10] kingdido999 opened #44 "Implement absolute image position with fixed position wrapper"
A fixed position wrapper with absolute image position and an image placeholder (since the actual image no longer takes space) would resolve some existing issues. This would require a big portion of rewrite though.

[2017-10-28 17:13] kingdido999 commented on #34
Opened an issue to keep track of adding image wrapper #44.

[2017-10-28 17:13] kingdido999 commented on #22
Opened an issue to keep track of adding image wrapper #44.

[2017-10-28 17:29] jimblue commented on #44
would be amazing 💯  !

[2017-11-03 11:10] larafale opened #45 "Remove listeners"
Hello Guys, I'm using react and my component can be rendered multiple times.
I instanciate in `componentDidMount` like this `(new Zooming()).listen('.zommable')`
So how can I remove/clean all previous listeners before re rendering ? thanks

[2017-11-03 16:01] kingdido999 commented on #45
Short answer: there is no public API to remove all the listeners and you probably don't need to.

I would suggest using the same zooming instance within `componentDidMount` instead of creating a new one every time. Please take a look at this example: https://github.com/kingdido999/atogatari/blob/master/client/src/components/ZoomableImage.js

The exact same event listener does not stack, i.e., add

[2017-11-03 17:27] larafale commented on #45
@kingdido999 Thanks a lot for the link

[2017-11-04 02:05] #45 closed

[2017-11-12 23:05] kingdido999 commented on #44
I've been trying to finish the implementation, but I couldn't find a feasible solution that doesn't affect existing behaviour/animation. I know this might be disappointing to you guys,  but I'll stop experimenting with this and accept that some issues/limitations will carry on at this point.

[2017-11-12 23:05] #44 closed

[2017-11-12 23:08] kingdido999 commented on #22
I don't intend to find a fix at this point. I'll accept it as a known issue and mention it in the README.

[2017-11-12 23:08] #22 closed

[2017-11-12 23:09] kingdido999 commented on #34
I don't intend to find a fix at this point. I'll accept it as a known issue and mention it in the README.

[2017-11-12 23:09] #34 closed

[2017-11-29 16:33] andreaballerino commented on #42
Hi,
I've the same problem in Chrome and I fix this with:

img {
  transform: translateZ(0);
}

I hope help :)

[2017-11-29 16:38] arnaudjuracek commented on #42
So you creating a new stacking context. Nice !
Thx, will try 👍

[2017-12-25 04:44] zaknight opened #46 "Please help me config big image show full size it."
Please help me config with image size greater than full screen.

I want to display a full size image.
And I want to scroll left or right or up and down to see the whole image instead of turning it off.

example image 1366x4900 or 1799x800.

Please help me.

Thanks.

[2017-12-30 01:13] kingdido999 commented on #46
@zaknight I may not get what you exactly want. Could you show me an example on [codepen](https://codepen.io/)?

[2018-01-07 02:14] #46 closed

[2018-01-07 03:09] kingdido999 commented on #42
Fixed in the latest version `1.2.7`. Here's the [demo](https://codepen.io/anon/pen/RxjBxL).

[2018-01-07 03:09] #42 closed

[2018-02-11 19:23] kingdido999 opened #47 "Support specifying individual image width and height after zoom-in via data attributes"
We have a global configuration to manipulate image width and height after zoom-in via `scaleBase`, `scaleExtra` and `customSize`, but we lack the ability to customize each individual image.

I propose a feature to zoom image into the given width and height via data attributes:

[code]

And they should overwrite any global image scaling configuration if applicable.

[2018-02-11 22:43] kingdido999 commented on #47
This feature is available in version `1.3.0`. [Documentation](https://desmonding.me/zooming/docs/#/guide?id=specify-image-width-and-height).

[2018-02-11 22:43] #47 closed

[2018-02-15 19:25] patrickbjohnson opened #48 "Can you zoom within an element?"
Considering using this but the demo only displays a zoom interaction in which the image is clicked and then zoomed over the entire document width.

Curious if there is any possibility of being able to zoom within an element like a `div` with a defined height/width?

[2018-02-15 20:56] kingdido999 commented on #48
Hmm...interesting. Unfortunately, it does not support such functionality. In what scenario do you think this kind of use case is useful?

[2018-02-17 12:03] mahish opened #49 "Add pkg.module field to package.json for ES6 module import"
Im using `"rollup": "^0.56.1",`  to bundle my js. So I would love to be able to import ES6 modules by default if possible. In case of Zooming package, it is not possible for me at the moment.

However, i can make it work when I add this line `"module": "src/index.js"` to the Zooming `package.json` so my rollup can find the (source) es6 module and import it simply as that `import Zooming from 'zoom

[2018-02-17 19:16] kingdido999 commented on #49
It should be available in `1.3.1` now. Please test it out and let me know 😄

[2018-02-17 19:32] mahish commented on #49
Thanks.

1. Im getting this error in console when zooming is on the page `Uncaught TypeError: b is not a function at HTMLDocument.<anonymous> (zooming.js:196) (anonymous) @ zooming.js:196`
2. Someone with webpack should test it as well
3. Hmm... Im not sure if a link to the source file is the safest way how to do it. You might use rollup to bundle it as one final module into the `build` folder may

[2018-02-17 19:34] kingdido999 opened #50 "Use the latest Rollup API"
https://rollupjs.org/guide/en#rollup-rollup

[2018-02-17 19:44] kingdido999 commented on #49
Thanks for the feedback. Yes it makes sense to build a final module. I'm also thinking leverage the latest Rollup API #50 and then build different modules. I might need some time to refactor them, let me know if you're interested working on them (I created a branch `update/dep` with the latest rollup version).

[2018-02-17 20:39] mahish commented on #49
Working on it now.

[2018-02-17 21:36] mahish commented on #48
Do you mean something like this? https://codepen.io/mahish/pen/NAQpyB Usually, it is used in eshops for example. I dont know the codebase but I find such functionality for different package since it has different purpose (two different design patterns: lightbox vs. zoom). It would be nice they could be plugable tho.

[2018-02-18 20:00] kingdido999 commented on #49
@mahish Try `1.4.0` now :)

[2018-02-18 20:00] #50 closed

[2018-02-18 20:28] mahish commented on #49
Works fine for me, thanks! Although, I still keep getting an error with Zooming in my project (on line `666:32` in `zooming.module.js`) which is not related to this issue! I also have a new proposition regarding `srcset` attribute on `<img>`:)

[2018-02-18 20:28] #49 closed

[2018-02-19 09:55] mahish opened #54 "Error: Couldn't find preset "es2015-rollup""
Getting this error when compiling my javascript: `Error: Couldn't find preset "es2015-rollup" relative to directory "/Users/…/node_modules/zooming"`

### Solution:
It can be fixed by removing `.babelrc` from the npm package (adding it to `.npmignore`). It is obviously good practice if you google it around. `.babelrc` with specified preset present in npm package makes my Babel to look for the prese

[2018-02-19 18:12] kingdido999 commented on #54
Please try the fix in `1.4.1`.

[2018-02-19 18:23] kingdido999 opened #55 "Improve UI testing"
Currently, only very basic Zooming APIs are tested through mocha in browser. We should probably include some end-to-end tests by leveraging a web automation framework.

[awesome-test-automation](https://github.com/atinfo/awesome-test-automation/blob/master/javascript-test-automation.md#web-ui-test-automation)

[2018-02-19 19:44] kingdido999 commented on #55
Try [TestCafe](https://github.com/DevExpress/testcafe).

[2018-02-19 21:31] mahish commented on #54
No error now. Thanks!

[2018-02-19 21:31] #54 closed

[2018-02-19 21:33] mahish commented on #54
@kingdido999 … and thank you for this lovely script btw:)

[2018-02-20 00:46] kingdido999 commented on #55
Seems long press in testcafe is not supported...See this [issue](https://github.com/DevExpress/testcafe/issues/2054).

[2018-02-20 08:37] winterdedavid opened #57 "Zooming with Bootstrap carousel"
First of all, this is a great project, thanks! However, I am having difficulties using this project along with a Bootstrap carousel, I have forked your page on codepen and have integrated a default Bootstrap v4 carousel. If I then click on an image in the carousel, the zooming animation gets triggered but the screen stays blank, seems to be on multiple browsers. Any idea what is causing this? I as

[2018-02-21 00:36] kingdido999 commented on #57
Well...this is a known issue/limitation of this library mentioned in README as #22. Basically, images will not be visible after zoom-in if its parents have CSS style `overflow: hidden`. In your case, the element `.carousel-inner` is causing the issue.

A potential solution is to remove `overflow: hidden` before opening the image and add it back once closed:

[code]

I haven't tested it though, jus

[2018-02-21 08:38] winterdedavid commented on #57
Thanks for the quick reply! I have done a static override to `overflow: visible` on the `.carousel-inner` element, however it doesn't make a difference, I also updated the codepen.
[code]

[2018-03-02 04:10] kingdido999 commented on #48
I will close it since the thread is no longer active.

[2018-03-02 04:10] #48 closed

[2018-03-08 18:09] migueldemoura opened #59 "Support for data-original with srcset"
Hey, pretty cool project!

I noticed that the `data-original` functionality doesn't work with img's `srcset`. Replacing the image's src doesn't change the image since srcset takes precedence. This is usually used for responsive images.

Edit: just noticed this commit https://github.com/kingdido999/zooming/commit/717b997f89dca2156d1c4516183d86042886326f, which isn't included in the latest version.

[2018-03-08 18:36] migueldemoura opened #60 "Zoom at most to original image's size"
I'd like zoom to at most to the original image's size. It seems that the only way of doing that is with `customSize` or `data-zooming-width` / `data-zooming-height`, which requires knowing the image size. The two values also override the max scaling as well, meaning that I'd have to ajust those depending on the user's window size.

Any way an additional option could be added in for this use case?

[2018-03-09 15:57] #59 closed

[2018-03-09 15:58] migueldemoura commented on #59
Could you push a new minor version with this fix? @kingdido999

[2018-03-10 06:15] kingdido999 commented on #59
Done. The fix is in `1.4.2`.

[2018-03-10 17:03] kingdido999 commented on #60
I will take a look once I have time :)

[2018-03-13 23:02] migueldemoura commented on #60
@kingdido999, I just skimmed the code and added this quick fix.

`calculateScale ()`
[code]

You'd need a control flag for this behaviour. I'm not using the other modes, hence why the condition looks like that.

Thanks for the plugin, appreciate it! :smile:

[2018-03-13 23:30] migueldemoura commented on #60
@kingdido999, I just skimmed the code and added this quick fix. The user must provide the original image's size via `data-zooming-width/height`.

`calculateScale ()`
[code]

You'd need a control flag for this behaviour. I'm not using the other modes, hence why the condition looks like that.

Thanks for the plugin, appreciate it! :smile:

PS: I can submit a PR, just tell me how you'd like this to b

[2018-03-14 01:29] kingdido999 commented on #60
Yes, PR is welcome! Regarding the implementation, I have a few thoughts on top of my head:

1. We might want to extend the existing option `customSize` so it accepts value in percentage. In this use case, `customSize: ‘100%’`, which means it should zoom into at most the original size.
2. We should be able to read the original image size in our program without having user specify them explicitly th

[2018-03-22 09:23] p-4 opened #62 "Limit the amount of grab pan area beyond the image"
Is there a way to limit the grab pan area?

Possibly with a margin option with the ability to specify the amount in px.
Then the maximum amount of white color one could see from the edge of the image to the edge of the browser would be this margin amount in px.

I have very limited coding experience and do not know how to approach this.
Any help greatly appreciated.

![grab_pan_limit_margin](https

[2018-03-22 14:19] p-4 commented on #60
I am trying to implement this, although I have very limited coding experience.

After providing the original image size with:
`
        <img
          src="./images/image_name_small.jpg"
          data-action="zoom"
          data-zooming-width="1080"
          data-zooming-height="428"
          data-original="./images/image_name.jpg"
        />`

The image is zoomed at maximum to its original di

[2018-03-22 14:24] migueldemoura commented on #60
Hey @p-4, I was about to reply to your email. Using `data-zooming-width/height` with zooming.js means the image will always be zoomed to those dimensions, no matter the window size. The reason it works on my website is because I'm using a modified script with the changes mentioned above.

I have the modified script at https://github.com/migueldemoura/migueldemoura.com/blob/master/_assets/javascrip

[2018-03-24 16:51] kingdido999 commented on #62
If I understand your intention correctly, you wanted to keep the image body within a specified frame while grabbing to avoid part of image goes out of the browser window. There is no option to achieve this right now.

We also need to consider the potential UX issue it brings up if we add this option. For example, if an image is already scaled to fit the window, does it respect this option? Would w

[2018-03-26 09:29] p-4 commented on #62
Not really.  The idea is to avoid seeing too much white space, and limiting the amount of pixels the image can travel from the edge of the browser. So this would not conflict with other features I think.

I believe it is better to limit this, as the viewer does not need to be able to move the image so much that it goes half outside of his viewable area (just like I did on the attached screenshot).

[2018-03-28 05:55] kingdido999 commented on #62
Ok I got your point now! I agree such option will improve the user experience.

[2018-03-28 09:53] p-4 opened #63 "Loading zooming.js with head.js does not seem to work"
I am not sure what is causing the issue. I follow advice online on how to load a .js file conditionally.
I would like to load zooming.js only on devices with a screen bigger than a certain amount of pixels, or another condition.

In this first test I load zooming.js with `<script></script>` inside the html and it works fine.
https://codepen.io/zuhocuyixu/pen/oqpdWz

In this second test I try to lo

[2018-03-29 10:55] p-4 opened #64 "Zooming to original resolution renders a blurry image (in Chrome and Opera)"
Using a version of zooming.js which Miguel has kindly sent to me, I can set the zooming to at most the maximum resolution of the original image. It works and does not zoom past the specified dimensions.

Although this produces a blurry image in both Chrome and Opera.

Sometimes it does, sometimes it does not. I cannot figure out what makes this happen one time and then not another time.

@miguelde

[2018-03-29 22:25] kingdido999 commented on #63
Unfortunately, I don't have any advice for this issue after some investigation. I would rather not dig further for two reasons:

1.  It's not a feature issue related to zooming itself.
2. I might be wrong, but I'm not sure about if there's any benefit from loading our library in `<head>` since zooming only starts listening to images after [DOM content is fully loaded](https://github.com/kingdido99

[2018-03-29 22:25] #63 closed

[2018-03-29 22:42] kingdido999 commented on #64
Yes I can tell...But since it only happens in some browsers (Firefox renders sharply), it must be related to how the browser engine renders the image. And I doubt it's introduced by Miguel's change, @p-4 can you confirm it's also blurry on the latest zooming library?

[2018-03-29 22:45] migueldemoura commented on #64
Yes, as I told @p-4, that's a browser issue (rendered fine on my FF 59).

[2018-03-29 22:49] kingdido999 commented on #57
Hey @winterdedavid I don't think I have bandwidth to investigate this further, so I will close this issue now. As I said it might be a limitation of this library. As a side note, it may not be a good UX choice to combine image zooming and carousel together, seems a bit weird to interact in my opinion.

[2018-03-29 22:49] #57 closed

[2018-03-30 05:08] #60 closed

[2018-03-30 09:26] p-4 commented on #63
@kingdido999 Thank you for checking this.

How would you advice to make it so, that zooming is not laded on devices with a screen smaller than certain width in pixels?

Would you please specify what method I should research on achieving this?

Thank you

[2018-03-30 13:53] michelsondan opened #66 "zooming on mobile"
1. Is there a way to zoom with 2 fingers touch and focusing on a area.

2. When zooming, How to aviod auto close so I can continue to move element, and closing zomming just
 on another finger click.

Thank you

[2018-03-30 14:29] p-4 commented on #63
Posting this for future reference for the less experienced (like me) on how to load zooming conditionally.

In this case on screens bigger than certain amount of pixels.

Here is the original question:
https://stackoverflow.com/questions/49572604/loading-a-js-file-conditionally-how

And here the final result. Loads zooming if browser window width is more than 500px:
https://codepen.io/zuhocuyixu/p

[2018-03-30 14:31] p-4 commented on #26
I have spent more than a day trying to figure out how to do this, so I am posting this for future reference for the less experienced on how to load zooming conditionally.

In this case on screens bigger than certain amount of pixels.

Here is the original question:
https://stackoverflow.com/questions/49572604/loading-a-js-file-conditionally-how

And here the final result. Loads zooming if browser

[2018-04-02 04:52] kingdido999 commented on #66
1. It does not support multi-touch functionality at this moment.
2. We're not able to disable auto close after we release mouse/finger on the image, but maybe we can add an option to disable auto close.

[2018-04-02 05:12] kingdido999 commented on #55
[cypress](https://github.com/cypress-io/cypress) runs tests directly in the browser, it looks very promising!

[2018-04-03 23:01] migueldemoura opened #68 "Compatibility with Turbolinks"
[Turbolinks](https://github.com/turbolinks/turbolinks) adds an event for when a page is loaded, `turbolinks:load`, and the following code in zooming will result in a double class instantiation:

[code]

if the user then adds:

[code]
This makes zooming unusable with Turbolinks. Are you aware of any way for me to avoid this other than forking and removing the listen() call?

**Edit**: I've spent so

[2018-04-05 00:11] migueldemoura commented on #68
Let me know if I can be of some help!

[2018-04-05 02:09] kingdido999 opened #69 "Redesign demo page"
I would like to incorporate more zooming features into the demo page, possibly through a more dynamic interaction rather than toggling features on and off. It would be really cool if we can have interactive demos like what [observable](https://beta.observablehq.com/) and [MDN](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Array/concat) does. For example, we can h

[2018-04-05 02:13] kingdido999 commented on #55
- [x] Happy path test case.
- [ ] API tests (listen, open, close, etc).
- [ ] Options tests.

[2018-04-05 02:15] kingdido999 commented on #68
- [ ] Remove Zooming initialization call.
- [ ] Update doc.

[2018-04-05 02:19] kingdido999 commented on #68
@migueldemoura I have includes a few issues into a [milestone](https://github.com/kingdido999/zooming/milestone/1), I will take care of this issue but I could really use some help from you on #69 and #55 ?

[2018-04-05 02:24] kingdido999 commented on #64
I will close this issue since it's not a bug related to this library.

[2018-04-05 02:24] #64 closed

[2018-04-05 10:39] p-4 commented on #64
@kingdido999 I have just done some more testing and I think I figured what is causing this.

Both within Opera and Chrome I can reproduce the following:
1. Open the browser, resize it so it takes most of the screen, but is not maximized.
2. Open the image in question. It might render a blurry image or not blurry. It seems random.
3. Then I resize the height of the browser window. Then it might ren

[2018-04-05 17:14] kingdido999 commented on #68
What’s your thoughts on removing option ‘defaultZoomable’ altogether and use ‘listen()’ API instead? In this way it simplifies API usage and I feel like ‘.listen()’ is a lot more semantic. Also it’s explicit in a way that let’s user decide when to listen to target images.

[2018-04-06 06:11] kingdido999 commented on #55
Having trouble simulating long press. The following code does not zoom the image further in:

[code]

[2018-04-06 06:42] kingdido999 commented on #55
Figured out:

[code]

[2018-04-06 08:33] p-4 commented on #64
@kingdido999 The image I am using in the codepen I posted in the first post has an even number of pixels and you can test the issue as I describe it with it:
https://codepen.io/zuhocuyixu/pen/mxXLwR

1. Unmaximize your browser.
2. Make it so it takes most of the screen ( so the image can be seen at its original resolution )
3. Resize the height of the browser window a couple of times.

You will se

[2018-04-08 05:03] kingdido999 commented on #68
Initialization call is removed in [2.0.0](https://github.com/kingdido999/zooming/releases/tag/2.0.0).

[2018-04-08 05:03] #68 closed

[2018-04-08 05:03] #55 closed

[2018-04-08 17:59] migueldemoura commented on #64
@p-4, this appears to be a browser issue, FF renders it just fine on my end. You can try it yourself as well, see if you can reproduce it. If you find a workaround/hack that isn't overly complicated, I'm sure @kingdido999 would consider including it.

[2018-04-08 18:03] migueldemoura commented on #68
Sorry, I've been quite busy these days. As for the `defaultZoomable`, I feel it is a widespread pattern, but understand you wanted it removed.

[code]
The above is quite simple as well.

[2018-04-08 18:06] migueldemoura commented on #69
Really like the idea. Where can I see the MDN interactive examples? I tried the link you provided but couldn't find them.

[2018-04-09 05:36] kingdido999 opened #72 "This site appears to use a scroll-linked positioning effect"
The following appears in FireFox browser console:

[2018-04-09 06:41] kingdido999 commented on #72
From the website:

Zooming has a `scroll` listener which is attached when image is opened and closes out the image once the scroll threshold has met. I think for our case, this effect cannot be easily replaced by CSS, so we can safely ignore this message.

[2018-04-09 06:42] #72 closed

[2018-04-09 09:54] p-4 commented on #64
I tried FF myself and it does work as it should.

This is disappointing.
To have both Chrome and Opera not display the image as it should be.

I do not have the skill or idea for a workaround or a hack.

[2018-04-14 02:31] HunterGraubard opened #73 "Panning goes in the wrong (opposite) direction"
- URL to reproduce the issue: http://desmonding.me/zooming/
- OS: Windows 10 Pro
- Browser and version: Chrome 65.0.3325.181, Firefox 61.0a1.

Steps to reproduce:

1. Open a full size image in the viewer.
2. Click down with the mouse, or touch down with a finger.
3. Drag the mouse cursor or finger while still holding down.

The expected result is that the image will move as if fixed to the cursor

[2018-04-14 02:36] HunterGraubard opened #74 "Zooming-in does not move the image to the correct position"
- URL to reproduce the issue: http://desmonding.me/zooming/
- OS: Windows 10 Pro
- Browser and version: Chrome 65.0.3325.181, Firefox 61.0a1.

Steps to reproduce:

1. Open a full size image in the viewer.
2. Click down with the mouse, or touch down with a finger.

The expected result is that the image will zoom in to its full size, without moving the image at the point below the cursor/finger. For

[2018-04-14 17:54] kingdido999 commented on #74
Yes, this is a valid point which can be improved.

[2018-04-14 18:00] kingdido999 commented on #73
Although one can argue this is not simulating a grab behavior, I admit this is not very intuitive. I will try to experiment with the opposite direction.

[2018-04-19 04:40] HunterGraubard commented on #22
@jimblue This solution looks interesting. But as you said, the documentation on the event seems lacking.

Do the events pass anything to the handler function? In my case, I have `overflow: hidden` on the immediate parent around the image. I have `<a><img /></a>`, where `overflow: hidden` is on the `<a>` tag. If the event handler has access to the `img` element, then I could just remove the overflo

[2018-04-20 09:10] mahish commented on #55
@kingdido999 Recently, Ive been playing with Cypress as well. What `button: 0` means actually? Didnt find any info about in docs. Thanks and sorry for offtopic.

[2018-04-20 15:12] kingdido999 commented on #55
@mahish In this case, it means main/left button on input device (mouse, track pad, .,etc). You can find more details [here](https://developer.mozilla.org/en-US/docs/Web/API/MouseEvent/button).

[2018-06-04 19:56] jimblue opened #75 "Add a spinner while loading fullsize image"
Hi there!

Actually when clicking on an image, `Zooming` doesn't provide any visual information to let the user know a better resolution image will show when loaded.

This can be a problem on devices with poor connection as users might close the `Zoomed` image before the full size image is displayed.

To let users know something better is coming, what do you think about adding a div with a css spi

[2018-06-04 23:31] kingdido999 commented on #75
Yeah this is a good idea. However, I want to be careful about making it an opt-in feature because some people might not needed it. Maybe we can introduce two new event hooks `onImageLoading` and `onImageLoaded`, then user can add/remove loading indicator with their own styling. I'll experiment with it and see how it goes :)

[2018-06-05 00:51] jimblue commented on #75
Cool! New event hooks totally make because of your points and regarding customisation too!

[2018-06-12 04:41] kingdido999 commented on #75
The above two event hooks have been added to the latest release `2.1.0`:
- [onImageLoading](https://desmonding.me/zooming/docs/#/configuration?id=onimageloading)
- [onImageLoaded](https://desmonding.me/zooming/docs/#/configuration?id=onimageloaded)

But I haven't figured out the most appropriate way to indicate the loading status yet. One thing I'm sure about is that we need to set a certain time

[2018-06-12 12:05] migueldemoura commented on #75
[Turbolinks](https://github.com/turbolinks/turbolinks/blob/583df0a767c7d06fbd4a0061ae58a1f1b0ee7177/src/turbolinks/controller.coffee#L16) does this with a 500ms delay before showing the progress bar. I doubt this is based on any UX study, but I quite like the value.

[2018-06-12 23:00] jimblue commented on #75
Hey @kingdido999,

Thanks for the new release!
I've wrote a promise function to check image load properly.
I use it to lazyload image, it's pretty solid, you can try it.

[code]

You can use it like so:

[code]

[2018-06-13 05:57] jimblue commented on #75
About time threshold, as usage will probably be different for each case, I suggest you to simply add an exemple to the documentaion.

 In the end it's simple as adding a timeout the callback `onImageLoaded`... don't you think?

The only think that need to be 100% sure is that `onImageLoaded` will not fail at checking image is properly loaded.

Saying that because checking when the source of the im

[2018-06-13 06:30] jimblue commented on #75
Lastly to prevent the problem of the first fetch you could create an empty `loaded` array that will be filled as `data-original` source are loaded:

[code]

This will help not impact performances.

[2018-09-03 19:54] migueldemoura commented on #64
@p-4, @kingdido999

I got hit by this bug and spent a while figuring out what the cause was.
In my case, having "border-radius" caused the image to be distorted around the top left corner. Another problem (that we were already aware of) is the odd width/height.

Fixes for both issues without touching the source:

[code]

[code]

Hope that helps :smile:.

[2018-09-08 11:23] mattjis opened #78 "Is it possible to zoom masked image (object-fit: cover) to reveal the full image?"
I'm created a flex container that squeezes multiple images side by side but when they're clicked (to zoom) I want them to no longer be squished..

Is this possible?

[2018-10-06 00:52] kingdido999 commented on #78
Close it due to inactivity.

[2018-10-06 00:52] #78 closed

[2018-10-23 13:10] potoo0 opened #96 "The page becomes a blank after zooming"
- URL to reproduce the issue: https://codepen.io/potoo/pen/yRxrZe
- OS: Windows
- Browser and version: Chrome: 69.0.3497.100

If the grid has both position and z-index properties (the properties generated by the theme I use), then the page will be blank after clicking the image, it looks like the image is below the `<div>` generated by zoom.js, but after I increase the z-index of img, it is still

[2018-10-23 14:33] kingdido999 commented on #96
One potential workaround is by setting the grid z-index to a value greater than the zooming overlay z-index: https://codepen.io/anon/pen/yRxmmO

This issue is related to [stacking context](https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_Positioning/Understanding_z_index/The_stacking_context). In the top level stacking context, grid div has `z-index: 0` and zooming overlay div has `z-index: 99

[2018-10-24 02:02] potoo0 commented on #96
Oh. I get it. Sincerely thank you for your answer.

[2018-10-24 12:10] potoo0 commented on #96
In this case, the contents of the grid will showing just below the image after the image is zoomed. Is there has any way to make the overlay take effect on grid?

[CodePen demo](https://codepen.io/potoo/pen/ePPMYM)

And I got another situation: The `DOMContentLoaded` event isn't fired when my page has full loaded, so zoom.js will not execute. Unless I refresh the page.

中文:
这样做的话，会使图片放大之后 grid 的内容

[2018-10-26 03:32] kingdido999 commented on #96
Try this: https://codepen.io/kingdido999/pen/jeXgBZ

For the second question, since it is not related to this library, I suggest you to search for answer elsewhere or post question on stackoverflow with actual code so people can help you.

[2018-10-26 04:09] potoo0 commented on #96
OK, thanks

[2018-10-26 04:09] #96 closed

[2018-10-26 13:02] #69 closed

[2018-11-18 13:32] jimblue commented on #75
Hi @kingdido999!

Can you have your input on this please?

Tks

[2019-01-03 14:27] blackinitial opened #114 "add feature caption on photo"
add feature caption on photo please,
or how to add caption on photo when zoomed

[2019-01-03 16:55] kingdido999 commented on #114
Can you be more specific? You want to display some kind of text along with the photo?

[2019-01-03 22:00] blackinitial commented on #114
Yeah, i want to display some text (caption) when opened the image.;

[2019-01-04 00:03] kingdido999 commented on #114
The library itself will not support this feature, but it should be possible to add text via DOM manipulation in `onOpen` [event hook](https://desmonding.me/zooming/docs/#/configuration?id=event-hooks):

[code]

[2019-01-04 00:03] #114 closed

[2019-01-04 01:20] blackinitial commented on #114
i have made it, but the text caption on under image (look so bad), how the text caption to the top and follow the image

![zoom photo](https://user-images.githubusercontent.com/21137500/50669743-90ac6000-0ff9-11e9-8798-faf4f40c53e7.png)

[2019-01-06 07:21] medakk opened #116 "Cursor icons for grab/zoom don't work in Firefox"
- URL to reproduce the issue: http://desmonding.me/zooming/
- OS: Ubuntu 18.04
- Firefox 64.0

Steps to reproduce:

1. Click on the image
2. Hover mouse over zoomed image
3. Icon doesn't change to grab(or zoom-out depending on the option)

This happens because the webkit identification string is no longer valid, in [utils.js](https://github.com/kingdido999/zooming/blob/051cab9cf771ec2a5fa7a6b2579f

[2019-01-06 17:02] kingdido999 commented on #116
Thanks for catching this! So the reason of having `webkitPrefix` in the first place was that webkit-based browsers did not support css cursor very well without `-webkit-` prefix. If I remember correctly the `WebkitAppearance` was not supported by Firefox in earlier versions, which can be used to detect whether it's a webkit-based browser. I just found out that Firefox has [added support](https://d

[2019-01-08 05:37] medakk commented on #116
According to the [browser compatibility](https://developer.mozilla.org/en-US/docs/Web/CSS/cursor#Browser_compatibility), `grab`, and `grabbing` were added in Chrome 68(released July 2018). Is it acceptable to drop support for this?

[2019-01-08 16:23] kingdido999 commented on #116
Yes, I think we can just get rid of webkit prefix entirely.

[2019-01-09 05:32] medakk commented on #116
Great! I'll work on a PR for this.

On Tue, Jan 8, 2019 at 9:53 PM Desmond <notifications@github.com> wrote:

--
Karthik Karanth

[2019-01-16 16:02] #116 closed

[2019-03-09 02:11] allaire opened #142 "Switch to original image before animation"
From what I see on the documentation page, the switch to the original image is done at the end. I think it would be great to have an option to switch the image before the animation starts. The image I use in my `src` is much smaller than my original one, so when the zoom animation take place, you can see some blurriness.

[2019-03-09 12:52] allaire commented on #47
@kingdido999 This feature works well, but is there a way to do something like #65 and have something like "zoom at most to `data-zooming-width` and `data-zooming-height`, but if it's bigger than the viewport, zoom to viewport (and take into account `baseScale`)?

[2019-03-19 11:55] kingdido999 opened #144 "Seeking Maintainers"
While this is the most interesting, fulfilling and rewarding open-source project that I've ever worked on, as time goes by, I find myself lacking motivation and bandwidth to maintain this project.

If you're interested in maintaining this project, feel free to introduce yourself and let me know why would you want to do so. You don't have to be an expert of JavaScript or anything, but some basic wo

[2019-03-19 15:03] mahish commented on #144
@kingdido999 I dont have much time neither but I like this project a lot and since Ive already contributed (#51) Im willing to help you or someone else to maintain it. Recently, Ive started to make single-page app with VueJS so I want to make it work together (there are some strange glitches and the whole code will need to rewrite probably). That's my TODO for April.

[2019-03-20 00:43] kingdido999 commented on #144
@mahish Glad to hear that! Keep me updated then 😸

[2019-04-24 09:43] qianxiaocang opened #159 "there is differents between 2 situations"
### the first clicked photos ,the log like that:

onBeforeOpen===> <img src=​"images/​servers_img1.gif" id=​"servers_img1" class=​"servers_img" **_style=​"cursor:​ grab;​ position:​ relative;​ z-index:​ 999;​ height:​ 55.7813px;​ width:​ 262.5px;​ transition:​ transform 0.4s cubic-bezier(0.4, 0, 0, 1)​ 0s;​ transform:​ translate3d(0px, 3.60938px, 0px)​ scale(1.42857, 1.42857)​;​"_**>​
onOpen===> <

[2019-05-11 15:18] jerryc127 opened #167 "it did not work for me"
Make sure the bug can be reproduced in either [demo](http://desmonding.me/zooming/) page or a forked [codepen](https://codepen.io/kingdido999/pen/rpYrKV) page.

**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1.

**Expected behavior**
A clear and concise description of what you expected to happen.

**Desktop (please comple

[2019-05-11 15:25] jerryc127 commented on #167
finally, it work now
![image](https://user-images.githubusercontent.com/16351105/57571699-e4b1d000-7443-11e9-9dbd-33282e195a15.png)
but why the way of the document  is did not work for me
![image](https://user-images.githubusercontent.com/16351105/57571719-12971480-7444-11e9-959f-b74dfc62a284.png)

[2019-05-13 03:27] kingdido999 commented on #167
Are you sure you're using `.img-zoomable` instead of `img-zoomable` css selector for the document example?

[2019-05-14 00:13] #167 closed

[2019-06-19 16:32] robskrob opened #198 "Can I have more control over when zoom closes?"
### The Problem I am having:
When I zoom on an image, I have a side image carousel that I would like to let the user click through, switching out the zoomed image as they click. Right now, whenever zoom is activated and I click on the side carousel the zoom closes -- this is not what I want.

### The solution I'd like:
Ideally, I'd like to click on the carousel without closing zoom. The carousel h

[2019-12-07 18:41] #144 closed

[2019-12-19 17:28] Giovancruz opened #243 "Acess the template wrapper"
How can i do to have acess on the div that wrapp the image on zoom?

I want to put a text like legend on user open zooming. But the div is created on click, without class or return in the onOpen function.

[2019-12-19 19:17] kingdido999 commented on #243
Are you referring to the overlay div? Actually there is no wrapper for the image at all when zooming in. Depending on how do you want to place the text (whether fixed position or relative to the image), you can programmatically create the legend element inside the `onOpen` callback. Make sure the element has `z-index` value greater or equal to the image's (default value: 999).

Let me know if you

[2020-01-06 12:09] #243 closed

[2020-03-18 14:37] Giovancruz commented on #66
any update on disable auto close?

[2020-07-13 14:52] medakk opened #303 "zooming videos"
^ that link is broken

**Is your feature request related to a problem? Please describe.**
It would be nice if I could zooming would work on `<video>` and not just image.

**Describe the solution you'd like**
Same behaviour as image. When I click the video, it transitions to full screen.

[2020-07-20 21:42] kingdido999 commented on #303
Thanks for pointing out he broken link, it should work now. Regarding zooming on video element, it should be possible but I'm not sure if that's a useful/desirable effect to users since video element has native support for full-screen mode.

[2020-07-21 01:25] medakk commented on #303
My use case is that I have a sort of "gallery"(a scrollable list of images) with mostly images but with a few GIFs(mp4s really) interspersed(with controls disabled). I use zooming to allow the user to zoom into the images. It would be nice if I could accomplish the same for videos via zooming.js, even if it just delegates to the native full screen mode.

It should be straightforward to implement i

[2020-07-22 02:40] kingdido999 commented on #303
I'd say it's best to implement that functionality using some custom js code.

[2020-07-22 05:02] medakk commented on #303
Sure. Thanks!

[2020-07-22 05:02] #303 closed

[2020-10-10 20:35] PiiXiieeS opened #312 "Images are not zoomed in the center of the viewport when document is displayed within an iframe"
**Images are not zoomed in the center of the viewport**
When zooming is used in a site embedded as an iframe the zooming effect while works it is not positioned in the center of the visible part of the window.

**To Reproduce**
Simple embed a page as an iframe resizing the frameHeight to be equal to the full size of the child content.
[code]

with load ...

[code]

**Expected behavior**
The image

[2020-10-11 06:11] kingdido999 commented on #312
Would it be possible for you to reproduce this issue in [codepen](https://codepen.io/kingdido999/pen/rpYrKV)?

[2020-10-11 09:19] PiiXiieeS commented on #312
Here you are:
https://codepen.io/piixiiees/pen/abZOJzJ

[2020-10-13 04:01] kingdido999 commented on #312
Thanks! I don't have much bandwidth to work on this, but feel free to give it a try.

You probably want to begin with understanding the [Zooming.open()](https://github.com/kingdido999/zooming/blob/master/src/index.js#L80) method, more specifically [these method calls](https://github.com/kingdido999/zooming/blob/master/src/index.js#L103-L105) which basically translate & transform the target image a

[2020-10-13 22:38] kingdido999 commented on #159
I'm not sure what you meant, can you reproduce this in [codepen](https://codepen.io/kingdido999/pen/rpYrKV)? Feel free to reopen once you have a reproducible demo.

[2020-10-13 22:38] #159 closed

[2020-10-17 12:55] theEMA-dev opened #313 "Strange behavior when zoom animation is activated"
When i click a image element to zoom, all my elements slide down. Its very disturbing.

**To Reproduce**
Steps to reproduce the behavior:
1. go to https://theema-dev.github.io/highRES/
2. scroll down to second or third row.
3. click a image to zoom in.

**Expected behavior**
I expect to everything stays static.

**Desktop**
 - OS: Windows 10
 - Browser [chrome, edge]
 - Version [newest]

[2020-10-17 16:30] kingdido999 commented on #313
I tested your website in Chrome and Firefox on MacOS but everything seems fine. Unfortunately I don't have Windows 10 to test this out. Could you confirm the issue is reproducible in Firefox as well? Also do you see any error message from the dev console? It might also be helpful if you show me how you setup the Zooming instance.

[2020-10-17 18:38] theEMA-dev commented on #313
It seems fine in firefox. I cant see any error at console in Chrome or Edge. You can check my instance here;
**html :** https://gist.github.com/theEMA-dev/62d784c5e9be00c71bf815d773b32614
**css :** https://gist.github.com/theEMA-dev/a52eea9a2229adb8b97608a923c04ebe

[2020-10-18 03:39] kingdido999 commented on #313
They look fine to me. It may be related to browser/OS, but unfortunately I could not debug further. I'll add a label to this issue in case someone could help with this issue.

[2020-10-18 12:12] verstecken opened #314 "further zoom in"
hey! is it possible to zoom in even more? like a second/next click on the allready zoomed image, to zoom in to original size? not limited by device display?

[2020-10-18 16:45] kingdido999 commented on #314
By default pressing the zoomed image allows zooming in further more. The [scaleExtra](https://github.com/kingdido999/zooming/blob/master/docs/configuration.md#scaleextra) option could control how much further we want to zoom in via [configuration](https://github.com/kingdido999/zooming/blob/master/docs/configuration.md#configuration). Please let me know if that satisfies your needs.

[2020-10-19 09:12] verstecken commented on #314
Thank you! I consider myself an experienced user on the Internet ;-) but didn't get, that I have to click & hold again, after I already clicked. So what I expected was, that I just have to click again (without holding) - maybe because I just saw that feature somewhere before. Anyway thanks for the reply. PS: Loving the close by scrolling thing.

[2020-10-20 04:17] kingdido999 commented on #314
Thanks for the feedback! I'll consider changing the default behavior to click to zoom in again.

[2020-10-20 10:55] verstecken commented on #314
But is there a simple way to change the grabbing behavior to click and mouse move (maybe tricky for mobile?) in the current version, and I didn't see the option?

[2020-10-20 16:35] kingdido999 commented on #314
There is no such option for the current version.

[2020-10-24 13:48] #313 closed

[2020-10-24 19:19] theEMA-dev opened #315 "Add option for cursor customization"
**Feature request : Cursor selection**
add a option like `bgColor: 'rgb(255, 255, 255)'` for cursor customization.
i know its easy to edit in javascript but im getting this library from online source (unpkg) its faster and always up-to-date this way
example :`cursorProperty: 'zoom-in'`

[2020-11-11 14:36] SamesJeabrook opened #317 "Scale to full size of high res image."
is there a way to set scaleExtra to scale to 100% of the images original size.

To fully understand the behaviour. I set a smaller size image, this is opened and the large size image (high res) is loaded as replacement and it moves to the modal. When I click to zoom in further I would like to zoom into the maximum size of the high res image. Is this currently possible?

[2020-11-12 23:29] kingdido999 commented on #317
No, this is currently not possible. `scaleExtra` is addition to the current scale of the opened image using [css transform scale function](https://developer.mozilla.org/en-US/docs/Web/CSS/transform-function/scale).

[2020-11-12 23:32] kingdido999 commented on #315
As you mentioned, I'd suggest you achieve this using a few lines of js or css.

[2020-12-05 01:10] r0st1kuzh opened #318 "Add config option to specify parent container for overlay"
Before you submit a feature request, please make sure to read through [Documentation](https://kingdido999.github.io/zooming/docs).

**Is your feature request related to a problem? Please describe.**
I'm always frustrated when overlay overlays zoomed image because stacking context

**Describe the solution you'd like**
I would like to set overlay in the same stacking context as images. Maybe add som

[2021-01-13 14:00] MXTcomunica commented on #78
As suggested by @kingdido999, in my case I fixed the issue in this way:

[code]

[2021-02-28 19:11] johnson329 opened #327 "click once to resize"
by default i need to double click to close picture or zoom？
i want to click once to close
how can i do that？
thx in advance

[2021-03-01 00:55] kingdido999 commented on #327
The current behavior is indeed clicking once to open/close. Please provide more details on reproducing your issue.

[2021-03-03 19:40] briwagner opened #328 "Thanks for an excellent tool!"
Just wanted to say this is an amazing tool! Thanks for building and maintaining this. The docs are great, and the API is really clear about how to use and customize. I just dropped this into a project in a couple hours and boom, it works.

Thanks. Keep up the great work!

Brian

[2021-03-04 03:17] kingdido999 commented on #328
Hey Brian, I'm very glad it worked out for you and your kind words literally made my day! 😄

[2021-03-04 03:17] #328 closed

[2021-03-09 14:28] johnson329 commented on #327
oh it's strange
when I use TouchPad with my laptop,I must click twice to close picture,sometimes can not close
when I use mouse,everything is correct

[2021-03-12 01:55] kingdido999 commented on #327
Hmm...I'm not sure if I can help with this issue. Could it be your TouchPad issue since your mouse is working fine?

[2021-03-14 17:57] johnson329 commented on #327
may be
anyway thx

[2021-03-15 18:02] #327 closed

[2021-05-26 15:32] GMZC opened #329 "Closing on scroll doesn't occur as expected"
Make sure the bug can be reproduced in either [demo](https://kingdido999.github.io/zooming/) page or a forked [codepen](https://codepen.io/kingdido999/pen/rpYrKV) page.

It's visible on various pages at [this address](https://www.isthme-art.com/), an artist website we delivered recently.

**Describe the bug**
When the content is scrolled the zoomed image doesn't close and I can't figure out why.

[2021-06-19 18:48] artknight opened #330 "Implement event delegation!"
Issue: dynamically added elements DO NOT get picked up for zooming
Solution: Implement event delegation!

I ended up making changes to the zooming.js lib ( which in usually a bad idea ) but I am hoping by posting a solution here that it will get implemented :)

**1st change:** Added event delegation to the `listen` method

[code]

**2nd change:**  Updated the `click` method to accept two arguments

[2021-06-25 09:02] Rumi1111 opened #331 "No zooming when img as link"
Is there a way to have the zooming disabled on images that act as a link?
Thank you for the great program!

[2021-06-25 16:53] kingdido999 commented on #331
Could you be more specific on this use case? Note that you can always [listen](https://kingdido999.github.io/zooming/docs/#/api-reference?id=listen) to the images with specific css class (and make sure you don't add this class to "images that act as a link").

[2021-08-14 16:07] Rumi1111 commented on #331
Yes, of course! Thank you!

[2021-08-19 02:52] #331 closed

[2021-11-17 12:19] theEMA-dev opened #332 "Add an id to zoomed image or zoom div?"
ever considered adding an id to zoomed image/zoom div?
i think it would be a great feature, thanks for your time.

[2022-05-25 16:10] BenFictional commented on #66
Yes, it would be ideal if users on mobile could drag the image around without closing it.
I've trying to display the image larger than the mobile viewport and allow users to explore it via swiping.

[2022-07-25 14:20] DisabledAurora opened #333 "Grab Strength/Distance"
Before you submit a feature request, please make sure to read through [Documentation](https://kingdido999.github.io/zooming/docs).

**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describ